$white: #FFFFFF;
$black: #000000;
$black_deep: #2D3033;
$grey: #6C7279;
$grey_light: #808080;
$grey_hover: #BABBC5;
$grey_icon: #C6CBCD;
$red: #FF4343;
$red_deep: #E71414;
$blue_deep: #2C3154;
$purple: #5C3249;