.about {
    padding: 114px 0;

    .about-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
    
        .about-card {
            width: 263px;
            margin: 0 15px;

            .about-img {
                width: 263px;
                height: 263px;
                margin-bottom: 30px;

                & img {
                    width: 100%;
                    height: 100%;

                }
                @media (max-width: 1200px) {
                    width: 214px;
                    height: 214px;
                }
                @media (max-width: 992px) {
                    width: 270px;
                    height: 270px;
                }
                @media (max-width: 767px) {
                    width: 225px;
                    height: 225px;
                }
                @media (max-width: 566px) {
                    width: 280px;
                    height: 228px;
                    
                    & img {
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .about-name {
                font-style: normal;
                font-weight: 700;
                font-size: $_24px;
                line-height: 28px;
                text-transform: capitalize;
                color: $black_deep;
                margin-bottom: 6px;
                
                @media (max-width: 1200px) {
                    font-size: $_18px;
                    line-height: 21px;
                }
                @media (max-width: 992px) {
                    font-size: $_24px;
                    line-height: 28px;
                }
                @media (max-width: 767px) {
                    font-size: $_18px;
                    line-height: 21px;
                }
                
            }

            .about-position {
                font-style: normal;
                font-weight: 400;
                font-size: $_18px;
                line-height: 21px;
                text-transform: uppercase;
                color: $red;
                margin-bottom: 18px;

                @media (max-width: 1200px) {
                    font-size: $_14px;
                    line-height: 16px;
                    margin-bottom: 22px;
                }
                @media (max-width: 992px) {
                    font-size: $_18px;
                    line-height: 21px;
                }
                @media (max-width: 767px) {
                    font-size: $_14px;
                    line-height: 16px;
                    margin-bottom: 22px;
                }
                @media (max-width: 566px) {
                    margin-bottom: 38px;   
                }
            }

            .about-review {
                margin-bottom: 38px;

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: $_18px;
                    line-height: 21px;
                    color: $grey;
                    
    
                    @media (max-width: 1200px) {
                        font-size: $_14px;
                        line-height: 16px;
                    }
                    @media (max-width: 992px) {
                        font-size: $_18px;
                        line-height: 21px;
                    }
                    @media (max-width: 767px) {
                        font-size: $_14px;
                        line-height: 16px;
                    }
                }                

            }

            .about-social__wrap {
                display: flex;
                justify-content: flex-start;

                .about-social__card {                    

                    .fa-facebook-f {
                        
                        &:hover {
                            color: blue;
                        }
                    }

                    .fa-twitter {

                        &:hover {
                            color: rgb(21, 157, 185);
                        }
                    }

                    .fa-linkedin {

                        &:hover {
                            color: rgb(20, 69, 143);
                        }
                    }

                    & a {
                        @include link;

                        @media (max-width: 1200px) {
                            width: 32px;
                            height: 32px;
                        }
                        @media (max-width: 566px) {
                            width: 39px;
                            height: 39px;
                        }
                    }
                }
            }
            
            @media (max-width: 1200px) {
                width: 225px;
            }
            @media (max-width: 992px) {
                width: 270px;
                margin-bottom: 40px;
            }
            @media (max-width: 767px) {
                width: 225px;
            }
            @media (max-width: 566px) {
                width: 280px;
                margin-bottom: 56px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @media (max-width: 566px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 566px) {
            flex-wrap: nowrap;
        }
    }
    @media (max-width: 1200px) {
        .container {
            max-width: 970px;
        }
        padding: 90px 0;
    }
    @media (max-width: 992px) {
        .container {
            max-width: 750px;
        }
        padding: 75px 0;
    }
    @media (max-width: 767px) {
        .container {
            max-width: 600px;
        }
    }
    @media (max-width: 566px) {
        .container {
            width: 90%;
        }
        padding: 75px 0;
    }
    
    @media (max-width: 320px) {
        .container {
            max-width: 280px;
        }
        padding: 35px 0;
    }

}