* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@import '../scss/_cdn';
@import '../scss/_varFontSize';
@import '../scss/_varColors';
@import '../scss/_mixins';
@import '../scss/header';
@import '../scss/features';
@import '../scss/work';
@import '../scss/about';
@import '../scss/slider';
@import '../scss/download';
@import '../scss/contact';
@import '../scss/footer';

html {
    font-family: 'Cardo', serif;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}



