.slider {
    padding: 45px 0;
    overflow: hidden;
    position: relative;
    
    @media (max-width: 992px) {
        padding: 35px 0;
    }
    @media (max-width: 566px) {
        padding: 30px 0;
    }
}
.slider-wrapper {
    width: 100%;
}
.slider-slide {
    display: flex;

    &:nth-child(even) .slider-text {
        background: darkgoldenrod;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
    @media (max-width: 566px) {
        flex-direction: column;
    }
}
.slider-img {
    width: 100%;
    max-height: 490px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: 767px) {
        width: 50%;
    }
    @media (max-width: 566px) {
        width: 100%;
        height: 250px;
    }
}
.slider-text {
    width: 100%;
    padding: 116px 15px;
    background-color: $purple;

    @media (max-width: 767px) {
        width: 50%;
        padding: 50px 0;
    }
    @media (max-width: 566px) {
        width: 100%;
    }
}
.slider-description {
    width: 470px;
    margin: 0 auto 15px;

    p {
        font-family: 'Cardo';
        font-style: italic;
        font-weight: 400;
        font-size: $_36px;
        line-height: 49px;
        text-transform: capitalize;
        color: $white;

        @media (max-width: 1200px) {
            font-size: $_24px;
            line-height: 32px;
        }
        @media (max-width: 566px) {
            font-size: $_18px;
            line-height: 24px;
        }
        @media (max-width: 320px) {
            font-size: $_24px;
            line-height: 32px;
        }
        
    }
    
    @media (max-width: 1200px) {
        width: 80%;
    }
}
.slider-author {
    width: 470px;
    margin: auto;

    p {
        font-weight: 700;
        font-size: $_13px;
        line-height: 15px;
        text-transform: uppercase;
        color: $white;

        @media (max-width: 566px) {
            font-weight: 400;
        }
        @media (max-width: 320px) {
            font-weight: 700;
            font-size: 11px;
            line-height: 14px;
        }
    }

    @media (max-width: 1200px) {
        width: 80%;
    }
}
.swiper-horizontal {

    .slider-pagination {
        margin-top: 10px;
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
    }
    .swiper-pagination-bullet-active {
        background-color: #7E5D6F;
    }
    
}
.slider-navigation {
    @media (max-width: 992px) {
        display: none;
    }
}